body{
    font-family: "CapieN Medium";
}

li{
    list-style: none;
}

.twitter{
    padding-top: 20px;
}

.insta{
    padding-bottom: 20px;
}

.header{
    background-color: #ff80bf;
    height: 90px;
    width: 2300px;
}

.header-logo{
    float: left;
    font-size: 40px;
    padding: 20px 40px 20px 40px;
}

.header-logo span{
    color:rgb(255, 255, 255)
}



.main{
    background-color:  #000;
    height: 650px;
    width: 2300px;
}

.contact-form {
    padding-top: 0px;
    background-color: #95cafe;
    height: 1000px;
    width: 2300px;
  }
  
  input,textarea{
   width:400px;
   margin-top:10px;
   margin-bottom:30px;
   padding:20px;
   font-size:18px;
   border:1px solid #dee7ec;
  }
  
  
  .contact-submit{
    background-color:#dee7ec;
    color:#889eab;
  }

.footer{
    background-color:  #e71880;
    height: 250px;
    width: 2300px;
}

.fotter-logo{
    padding: 20px 40px 20px 40px;
}